<div class="modal-header">
  <div class="button close btn-dismiss" {{action cancel content}}>x</div>
  <h2 class="app-icon-large">Task</h2>
</div>
 
<div class="modal-body">
  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      {{view Em.TextArea elementId='description' valueBinding='description'}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="state">State</label>
    <div class="controls">
      {{view Ember.Select
            elementId='state'
            selectedIndex='0'
            selectionBinding='state'
            contentBinding="controller.states"
            optionValuePath="content"
            optionLabelPath="content"}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="performer">Assign to</label>
    <div class="controls">
      {{view Ember.Select
            elementId='performer'
            selectedIndex='0'
            selectionBinding='performer'
            contentBinding="controller.users"
            optionValuePath="content.id"
            optionLabelPath="content.email"}}
    </div>
  </div>
</div>
 
<div class="modal-footer">
  <a class="btn btn-dark" href="javascript;:" {{action cancel content}}>Cancel</a>
  <button class="btn btn-success" type="submit" {{action submit this}}>Save</button>
</div>
